<?xml version="1.0" standalone="yes"?>
<appSettings>
	<add key="CreateDefaultUsers" value="demo.admin,demo.user"/>
	<add key="ReportingBaseUrl" value="http://localhost:3038/carecenterdemo"/>
<!--	
	<add key="GoogleAnalyticsId" value="UA-00000000-0"/>
	<add key="recaptchaPrivateKey" value="0000000000000000000000000000000000000000" />
	<add key="recaptchaPublicKey" value="0000000000000000000000000000000000000000" />
	<add key="PrecompileViews" value="DigitalBeacon.CareCenter.Views"/>
	<add key="PrecompiledViews" value="DigitalBeacon.CareCenter.Views"/>
	<add key="UseEmailForUsername" value="true"/>
	<add key="HtmlToPdfExePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe"/>
-->	
</appSettings>