<?xml version="1.0"?>
<!-- ====================================================================== -->
<!--																		-->
<!--						 Copyright (c) 2009							 -->
<!--						 Digital Beacon, LLC							-->
<!--																		-->
<!-- ====================================================================== -->

<!-- Generated with MyGeneration using the Spring DAO Config template -->

<!--<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">-->
<objects xmlns="http://www.springframework.net">

	<object id="IClientService" type="DigitalBeacon.CareCenter.Business.Support.ClientService, DigitalBeacon.CareCenter.Business" lazy-init="true" singleton="true" />

	<!-- Client -->
	<object id="ClientEntityDao" type="DigitalBeacon.CareCenter.Data.NHibernate.ClientDao, DigitalBeacon.CareCenter.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IClientDao" name="ClientEntityDao" />

	<!-- CommentType -->
	<object id="CommentTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.CareCenter.Model.CommentTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>

	<!-- ClientComment -->
	<object id="ClientCommentEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.CareCenter.Model.ClientCommentEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="ClientCommentEntityDao" type="DigitalBeacon.CareCenter.Data.NHibernate.ClientCommentDao, DigitalBeacon.CareCenter.Data" singleton="true">
	<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IClientCommentDao" name="ClientCommentEntityDao" />-->

	<!-- Interviewer -->
	<object id="InterviewerEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.CareCenter.Model.InterviewerEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>

	<!-- HouseholdMember -->
	<object id="HouseholdMemberEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.CareCenter.Model.HouseholdMemberEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="HouseholdMemberEntityDao" type="DigitalBeacon.CareCenter.Data.NHibernate.HouseholdMemberDao, DigitalBeacon.CareCenter.Data" singleton="true">
	<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IHouseholdMemberDao" name="HouseholdMemberEntityDao" />-->
	
	<!-- Location -->
	<object id="LocationEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.CareCenter.Model.LocationEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="LocationEntityDao" type="DigitalBeacon.CareCenter.Data.NHibernate.LocationDao, DigitalBeacon.CareCenter.Data" singleton="true">
	<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="ILocationDao" name="LocationEntityDao" />-->
	
	<!-- Visit -->
	<!--<object id="VisitEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.CareCenter.Model.VisitEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>-->
	<object id="VisitEntityDao" type="DigitalBeacon.CareCenter.Data.NHibernate.VisitDao, DigitalBeacon.CareCenter.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<alias alias="IVisitDao" name="VisitEntityDao" />-->

</objects>
